# Ignore runtime and sensitive data
/recordings/
/cameras/
argonvr.yaml

# Ignore python cache
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore local dev environment cruft
.DS_Store
argonvr.yaml~
*~
/.idea/
