[CAMERAS]
cam1 = rtsp://user:password@192.168.1.11:554/stream
cam2 = rtsp://user:password@192.168.1.12:554/stream

[SETTINGS]
WEB_USER = admin
WEB_PASS = ChangeMe123!
BASE_DIR = ./cameras
MOTION_THRESHOLD = 0.01
STORE_DIR = ./recordings
STORAGE_DEVICE = /
MIN_FREE_SPACE_PCT = 15.0
PORT = 8000
SSL_CERT_PATH = 
SSL_KEY_PATH =
# Select the correct H264 encoder based on your platform:
# Linux: h264_v4l2m2m
# Mac: h264_videotoolbox
# Software-based video encoding for non-H264 sources: libx264
# Software-based video copy for H264 sources: copy
ENCODER = libx264
LOG_HTTP_REQUESTS = False
